# .htaccess
RewriteEngine On
RewriteBase /dokomori-jisaku-app/

# 既存のファイルやディレクトリが存在する場合はリライトしない
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# すべてのリクエストをindex.phpにリダイレクト
RewriteRule ^(.*)$ index.php [QSA,L]